.sec4{
    .box{
        width: 536.89px;
        height: 149.94px;
        margin-top: 30px;
        transition: .5s;
        &:hover{
            background-size: 600px;
        }
        h2{
            font-size: 25px;
            color: #1b1b1b;
            margin-left: 50px;
            margin-top: 30px;
            span{
                font-size: 18px;
                color: #4c4c4c;
            }
        }
    }
    .box1{
        background: url(../img/sub1.jpeg)no-repeat;
        background-size: cover;
        margin-left: 40px;
    }
    .box2{
        background: url(../img/sub2.jpeg)no-repeat;
        background-size: cover;
        margin-right: 40px;
    }
}