.sec5{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 100px 0px;
    .sec5-container{
        width: 80%;
        display: flex;
        justify-content: space-between;
        .left{
            padding-top: 200px;
            h2{
                font-size: 40px;
                color: #302d3a;
            }
            p{
                font-size: 20px;
                color: #5f5982;
                margin: 20px 0px;
            }
            .check{
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                img{
                    width: 30px;
                    height: 30px;
                }
                h6{
                    font-size: 16px;
                    color: #5f5982;
                    margin-left: 20px;
                }
            }
            button{
                font-size: 16px;
                padding: 10px 20px;
                border: none;
                background: #f56962;
                color: #fff;
                font-weight: bold;
                border-radius: 4px;
                cursor: pointer;
                margin-top: 30px;
                &:hover{
                    background: #D56156;
                    box-shadow: 1px 23px 48px -19px rgba(245,105,98,0.81);
                    -webkit-box-shadow: 1px 23px 48px -19px rgba(245,105,98,0.81);
                    -moz-box-shadow: 1px 23px 48px -19px rgba(245,105,98,0.81);
                    transition: .3s;
                }
            }
        }
        .right{
            width: 500px;
            height: 631px;
            border: 3px solid #E8913E;
            border-top-right-radius: 181px;
            img{
                transform: translate(-50px, 50px);
            }
        }
    }
}