.services{
    width: 100%;
    height: 735px;
    background-color: #1F1F25;
    .container{
        width: 87%;
        height: 735px;
        .colum1{
            width: 509px;
            height: 545px;
            background: url(../img/services_img.jpg)no-repeat;
            background-size: cover;
        }
        .colum2{
            width: 120px;
            height: 545px;
            button{
                width: 240.3px;
                height: 110px;
                border: none;
                background-color: #e4d804;
                color: #000;
                font-size: 12px;
                border-radius: 10px;
                transform: rotate(90deg);
                margin-left: -70px;
                margin-top: 370px;
                &:hover{
                    cursor: pointer;
                }
                i{
                    transform: rotate(-90deg);
                }
            }
        }
        .colum3{
            width: 618px;
            height: 545px;
            h5{
                font-size: 12px;
                color: #fff;
                margin-top: 60px;

                span{
                    display: inline-block;
                    width: 40px;
                    height: 3px;
                    background-color: #e4d804;
                    margin-bottom: 2px;
                }
            }
            h2{
                font-size: 36px;
                color: #fff;
                font-weight: bold;
            }
            p{
                font-size: 14px;
                color: #bcbcbc;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .new{
                font-size: 18px;
                margin-top: 10px;
            }
            i{
                font-size: 40px;
                margin-right: 30px;
                margin-top: 10px;
                margin-left: 10px;
                border: 2px dotted #e4d804;
                border-radius: 50%;
                display: inline-block;
                width: 83px;
                height: 83px;
                text-align: center;
                padding-top: 20px;
                color: #fff;
                &:hover{
                    background-color: #e4d804;
                    transition: .8s;
                }
            }
            .tv{
                border-bottom: 2px dotted #38373C;
                padding-bottom: 20px;
            }
            .camera{
                padding-top: 10px;
            }
        }
    }
}