header{
    width: 100%;
    height: 90px;
    background-color: #fcb800;
    display: flex;
    align-items: center;
    .header-container{
        width: 83%;
        height: 52px;
        .row{
            .logo{
                width: 191px;
                height: 52px;
                display: flex;
                align-items: center;
                img{
                    width: 113px;
                    height: 28px;
                }
            }
            .search{
                width: 761px;
                height: 52px;
                padding-top: 3px;
                input{
                    width: 547px;
                    height: 45px;
                    border: none;
                }
                .drp{
                    width: 63px;
                    height: 45px;
                    background-color: #fff;
                    font-size: 14px;
                    color: #666666;
                }
                .srch{
                    width: 101px;
                    height: 45px;
                    background-color: #023047;
                    color: #fff;
                    font-size: 15px;
                    font-weight: bold;
                }
            }
            .icons{
                width: 200px;
                height: 52px;
                text-align: right;
                display: flex;
                align-items: center;
                position: relative;
                justify-content: flex-end;
                a{
                    color: #000;
                    i{
                        font-size: 25px;
                        margin: 0px 10px;
                        &:hover{
                            color: #59595A;
                            cursor: pointer;
                        }
                    }
                }
                span{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background-color: #d43811;
                    color: #fff;
                    font-size: 11px;
                    text-align: center;
                    border-radius: 50%;
                }
                .sp1{
                    position: absolute;
                    top: 7px;
                    left: 87px;
                }
                .sp2{
                    position: absolute;
                    top: 7px;
                    left: 127px;
                }
            }
        }
    }
}