.head-main{
    width: 100%;
    height: 98px;
    display: flex;
    align-items: center;
    .head-main-container{
        width: 85%;
        .row{
            
            .logo{
                img{
                    width: 111px;
                    height: 44px;
                }
            }
            .contact{
                display: flex;
                justify-content: space-between;
                margin-left: 30px;
                .phone-icon{
                    i{
                        font-size: 30px;
                    }
                }
                .phone-content{
                    h3{
                        font-size: 11px;
                        color: #777777;
                        font-weight: bold;
                        margin-bottom: -2px;
                    }
                    p{
                        font-size: 18px;
                        color: #000;
                        font-weight: bolder;
                    }
                }
            }
            .search{
                input{
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    background-color: #f7f7f8;
                    border: none;
                }
                .btn-drop{
                    background-color: #f7f7f8;
                    color: #919191;
                    height: 38px;
                    border-left: 1px solid #e7e6e7;
                }
                .btn-search{
                    background-color: #f7f7f8;
                    color: #919191;
                    border-left: 1px solid #e7e6e7;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
            }
            .user{
                width: 75px;
                margin-left: 20px;
                i{
                    font-size: 30px;
                }
            }
            .like{
                width: 75px;
                i{
                    font-size: 30px;
                }
            }
            .bag{
                width:85px;
                position: relative;
                .bag-icon{
                    font-size: 30px;
                }
                .arrow-icon{
                    font-size: 18px;
                }
                span{
                    background-color: #ff5b5b;
                    color: #fff;
                    display: inline-block;
                    width: 15px;
                    height: 20px;
                    text-align: center;
                    border-radius: 50%;
                    font-size: 14px;
                    position: absolute;
                    right: 40px;
                    top: -10px;
                }
            }
        }
    }
}